<!DOCTYPE html>
<html>
<head>
    <title>Books List</title>
</head>
<body>
    <h1>All Books</h1>
    <ul>
        {% for book in books %}
        <li>
            {{ book.Title }} by {{ book.Author }} ({{ book.Genre }}, {{ book.PublishedYear }}) - Quantity: {{ book.Quantity }}
            <a href="/edit_book/{{ book.BookID }}">Edit</a> | 
            <a href="/delete_book/{{ book.BookID }}" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Go Back</a>
</body>
</html>